*{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
}

.logo{
    color: whitesmoke;
    font-size: 2em;
    user-select: none;

}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5px;
    background:#fff;
    height: 3px;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}
.navigation .btnLogin-popup:hover{
    color:black;
    background: white;

}

.wrapper{
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 25px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform 0.5s ease;
    top: 30%;
}
.active.wrapper {
    transform: scale(1);
}


.wrapper .form-box{
    width: 100%;
    padding: 40px;

}

.form-box h2{
    font-size: 2em;
    text-align: center;
    color: black;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;


}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label
{
    top:-5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding:0px 35px 0px 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    transform: translateY(50%);

}

.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0px 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 5px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;

}

.remember-forgot a:hover{
    text-decoration: underline;

}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    border-radius: 15px;
    outline: none;
    color: whitesmoke;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 30px;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3em;
    width: 45px;
    height: 45px;
    background: #162938;
    color: whitesmoke;
    border-radius: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    

}


/* Responsive styles */


@media (max-width: 768px) {
    .navigation a {
      margin-left: 10%;
      font-size: 0.9em;
    }
  
    .navigation .btnLogin-popup {
      width: 20%;
      height: 2%;
    }
  
    .wrapper {
      width: 90%;
      height: 400px;
    }
  
    .form-box {
      padding: 20px;
    }
    .navigation 
  }
  
  
  
  
  
  
  